﻿<footer class="border-top footer text-muted text-center">
    <div class="container">
        Copyright &copy; World Recipes @DateTime.Now.Year
        <custom-email Email="CountryRecipes@gmail.com"></custom-email>
    </div>
</footer>