﻿@model RecipeModel

<div class="card mb-4 shadow-sm">
    <img src="/images/logo.png" class="img-thumbnail" />
    <div class="card-body">
        <h3 class="card-title">@(string.IsNullOrEmpty(Model.Title) ? "Name is not available" : Model.Title)</h3>
        <p class="card-text">@(string.IsNullOrEmpty(Model.Description) ? "Description is not available" : Model.Description)</p>
        <p class="card-text">@(string.IsNullOrEmpty(Model.Country.Name) ? "Country name is not available" : Model.Country.Name)</p>
        <p class="card-text">@("Preperation Time: " + Model.PreparationTimeInMinutes)</p>
        <p class="card-text">@("Total Time: " + Model.TotalTimeInMinutes)</p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <a asp-route="recipeDetailsRoute" asp-route-id="@Model.ID" class="btn btn-sm btn-outline-secondary"> View Details</a>
            </div>
            <small class="text-muted">@(string.IsNullOrEmpty(Model.Author.Name) ? "Author is not available" : Model.Author.Name)</small>
        </div>
    </div>
</div>
