﻿@model RecipeModel

@{ 
    ViewData["Title"] = "Add Recipe";
}

<div class="container">
    <h3 class="display-4">Add New Recipe</h3>
    <hr/>
    <form method="post" enctype="multipart/form-data" asp-action="AddRecipe" asp-controller="Recipe">
        <div>
            <label asp-for="Title" class="form-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Description" class="form-label"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="PreparationTimeInMinutes" class="form-label"></label>
            <input type="number" asp-for="PreparationTimeInMinutes" class="form-control" />
            <span asp-validation-for="PreparationTimeInMinutes" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="TotalTimeInMinutes" class="form-label"></label>
            <input type="number" asp-for="TotalTimeInMinutes" class="form-control" />
            <span asp-validation-for="TotalTimeInMinutes" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Author.Name" class="form-label"></label>
            <input asp-for="Author.Name" class="form-control" />
            <span asp-validation-for="Author.Name" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Author.Surname" class="form-label"></label>
            <input asp-for="Author.Surname" class="form-control" />
            <span asp-validation-for="Author.Surname" class="text-danger"></span>
        </div>
    </form>
</div>