﻿@{ 
    ViewData["Title"] = "All Recipes";
}

<div class="container">
    <h3 class="display-4 text-center">All Recipes</h3>
    <div class="row">
        @foreach(var recipe in Model)
        {
            <div class="col-md-4"><partial name="_RecipeThumbnail" model="@recipe"/></div>
        }
    </div>
</div>